<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/">Sabah You</a>
  </div>
  <div class="navbar-toggle" (click)="toggleMenu()">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>
  <ul class="navbar-menu" [ngClass]="{'open': isMenuOpen}">
    <li>
      <div class="navbar-toggle" [ngClass]="{'open': isMenuOpen}" (click)="toggleMenu()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
    </li>
    <li><a routerLink="/">{{home}}</a></li>
    <li><a routerLink="/first-component">{{firstPage}}</a></li>
    <li><a routerLink="/second-component">{{secondPage}}</a></li>
  </ul>
</nav>

<div class="responsiveContainer">
  <div class="r-logo">logo</div>
  <div class="r-contact">contact</div>
  <div class="r-button">button</div>
  <div class="r-slogon">slogon</div>
  <div class="r-map">map</div>
  <div class="r-content">Content</div>
  <div class="r-plan">Footer</div>
</div>


<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>