.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: white;
  margin: 4px 0;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 10px;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
}

@media (min-width: 1025px) {
  .navbar {
    display: none;
  }
}

@media (max-width: 1024px) {
  .navbar-menu {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-menu.open {
    display: flex;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 9999;
  }

  .navbar-menu.open li {
    margin: 10px 0;
  }
}

/*////////////////////////////////////////////////////*/

.r-contact {
  grid-area: r-contact;
  /*background-color: #e222bf;*/
  color: white;
  display: flex;
}

.r-contact img {
  position: relative;
  width: 500px;
  height: auto;
  left: 40px;
}

.r-button {
  grid-area: r-button;
  background-color: #f3f3f3;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.r-button button {
  background-color: #f3f3f3;
  color: white;
  border: none;
  padding: 10px ;
  cursor: pointer;
  font-size: 20px;
}

.svgButton{
  width: 20px;
}

.r-logo, r-map {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: r-logo;
  /*background-color: #2138bc;*/
  color: white;
}

.r-logo img {
  position: absolute;
  width: 350px;
  height: auto;
  top: 1%;
  left: -1%;
}

.r-map img {
  position: relative;
  width: 617px;
  height: auto;
  top:-210%;
  left: 32%;
}

/*//////////////////////////////////////////*/

@media (max-width: 1024px) {
  .r-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: r-logo;
    /*background-color: #2138bc;*/
    color: white;
  }

  .r-logo img {
    position: absolute;
    width: 134px;
    height: auto;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .r-contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* Optional: center aligns items vertically */
    width: 100%;
    /* Ensure the container takes up the full width */
  }

  .r-contact img {
    width: 200px;
    height: auto;
  }

  .r-map{
    display: flex;
  }

  .r-map img{
    width: 100%;
    top: 0%;
    left:0%;
  }

  .r-slogon ul {
    font-size: 40px;
    list-style-type: none;
    display:flex;
    flex-direction: column;
    padding-top: 16px;
  }
  
  .r-slogon ul div {
    display:flex;
    flex-direction: column;
    align-items: normal !important;
    
  }
  
  .r-slogon ul div li {
    padding-right: 0px;
  
  }
  
  .r-slogon ul div li.one{
    color: black;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    z-index: 9999 !important;
  }
  
  .r-slogon ul div li.two{
    color: gray;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    z-index: 9999 !important;
  }
  .r-slogon ul li.three{
    position: relative;
    color: orange;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
  }

  .r-content ul, .r-plan ul{
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
  }

  .vertical-line {
    border-left: 1px solid white !important; /* Adjust color and width as needed */
  }
}
/*///////////////////////////////////////*/
.zIndex{
  position: relative;
  z-index: 9999 !important;
}

.r-slogon {
  grid-area: r-slogon;
  /*background-color: #1dd5cf;*/
  color: white;
}

.r-slogon ul {
  font-size: 40px;
  list-style-type: none;
}

.r-slogon ul div {
  display: flex;
  justify-content: flex-start;
  align-items:end;
}

.r-slogon ul div li {
  padding-right: 20px;

}

.r-slogon ul div li.one{
  color: black;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  z-index: 9999;
}

.r-slogon ul div li.two{
  color: gray;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  z-index: 9999;
}
.r-slogon ul li.three{
  color: orange;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  z-index: 9999;
}

.r-content {
  grid-area: r-content;
  /*background-color: #41c724;*/
  color: #5a4e4e;
}

.r-content ul{
  position: relative;
  top: -55px;
  left: 364px;
}



.r-content ul li{
  display: flex;
  flex-direction: row;
  font-size: 35px;
  
}

.r-content ul li div{
  font-weight: 600;
color: black;
}

.r-map {
  grid-area: r-map;
  /*background-color: #d5de24;*/
  color: #5a4e4e;
}

.r-plan {
  grid-area: r-plan;
  /*background-color: #b8715b;*/
  color: #5a4e4e;
}

.r-plan ul{
  position: relative;
  top: 30px;
  left: 0px;
}

.r-plan ul li{
  display: flex;
  flex-direction: row;
  font-size: 35px;
}

.r-plan ul li div{
  font-weight: 600;
  color: black;
}



.responsiveContainer {
  display: grid;
  gap: 5px;
  margin: 14px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-areas:
    "r-logo r-contact r-contact r-contact r-contact r-contact r-button r-button"
    "r-logo r-slogon r-slogon r-slogon r-slogon r-slogon r-plan r-plan"
    "r-logo r-slogon r-slogon r-slogon r-slogon r-slogon r-plan r-plan"
    "r-content r-content r-map r-map r-map r-rmap r-plan r-plan";
}

@media (max-width: 1024px) {
  .responsiveContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 40px 200px 80px 460px 270px;
    grid-template-areas:
      "r-contact"
      "r-slogon"
      "r-content"
      "r-map"
      "r-plan";
  }

  .r-button {
    display: none;
  }
}

.vertical-line {
  border-left: 5px solid #f3f3f3; /* Adjust color and width as needed */
  height: 100%; /* Adjust height as needed */
}

.horizontal-line {
  border-top: 1px solid #f3f3f3; /* Adjust color and width as needed */
  width: 100%; /* Adjust width as needed */
}

ul {
  list-style-type: none;
  padding-left: 35px;
}

ul li {
  position: relative;
  padding-left: 30px;
}

ul li::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform-origin: center center;
  transform: translateY(-50%) rotateX(45deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0px 25px 25px;
  border-color: transparent transparent transparent orange;
}

ul li.no-bullet::before {
  display: none;
}