<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/">Sabah You</a>
  </div>
  <div class="navbar-toggle" (click)="toggleMenu()">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>
  <ul class="navbar-menu" [ngClass]="{ open: isMenuOpen }">
    <li>
      <div
        class="navbar-toggle"
        [ngClass]="{ open: isMenuOpen }"
        (click)="toggleMenu()"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
    </li>
    <li>
      <a routerLink="/">{{ home }}</a>
    </li>
    <li>
      <a routerLink="/first-component">{{ firstPage }}</a>
    </li>
    <li>
      <a routerLink="/second-component">{{ secondPage }}</a>
    </li>
  </ul>
</nav>

<div class="responsiveContainer">
  <div class="r-logo"><img src="../assets/logoOfSabah3.png" alt="logo" /></div>
  <div class="r-contact">
    <img src="../assets/whatsapp.png" alt="line" /><img
      src="../assets/line.png"
      alt="line"
    />
  </div>
  <div class="r-button">
    <button>
      <img
        src="../assets/icons8-home.svg"
        alt="home"
        class="svgButton"
      />首頁</button
    ><button>
      <img
        src="../assets/map-find-search-svgrepo-com.svg"
        alt=""
        class="svgButton"
      />網站地圖</button
    ><button>
      <img
        src="../assets/contact-us-filled-svgrepo-com.svg"
        alt=""
        class="svgButton"
      />聯絡我們
    </button>
  </div>
  <div class="r-slogon">
    <ul>
      <div>
        <li class="one no-bullet vertical-line">沙巴遊</li>
        <li class="two no-bullet vertical-line-2">沙巴自由行旅遊活動平台</li>
      </div>
      <li class="three zIndex no-bullet vertical-line">玩的開心 玩的放心</li>
    </ul>
  </div>
  <div class="r-content">
    
      <ul>
        <li class="zIndex"><div>沙巴歡迎你</div></li>
        <li class="zIndex">各種<div>精彩的活動</div></li>
        <li class="zIndex"><div>輕鬆計劃</div>您的沙巴行程</li>
      </ul>

    
  </div>
  <div class="r-map"><img src="../assets/map background.png" alt="map" /></div>

  <div class="r-plan">
    <ul>
      <li class="zIndex"><div class="vertical-line-3"></div>收集資料<div>認識沙巴</div></li>
      <li class="zIndex">由你<div>決定行程</div></li>
      <li class="zIndex">準備<div>機票簽證和住宿</div></li>
      <li class="zIndex"><div>預約活動</div>豐富你的行程</li>
      <li class="zIndex">觀賞<div>影片和相片</div></li>
    </ul>
  </div>
</div>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
